.card {
  background: var(--color-text);
  border-radius: 0.313rem;
  border: 1px solid #e1e3e6;
  color: #5a5a66;

  padding: 1.5rem;

  text-align: left;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: 2.5rem;
  padding: 0.5rem 1.5rem;

  font-weight: 500;
  font-size: 0.875rem; /* 14px of 16px root*/
  line-height: 1.625rem; /* 26px of 16px root*/

  background-color: rgb(237, 237, 237);
}

.progress .badge {
  background: var(--color-badge-progress-background);
  color: var(--color-badge-progress-text);
}

.done .badge {
  background: var(--color-badge-done-background);
  color: var(--color-badge-done-text);
}

form fieldset {
  border: none;
}

form fieldset + fieldset {
  margin-top: 3.5rem;
}

form fieldset legend {
  color: var(--color-card-title);

  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.625rem;
}

fieldset .separator {
  margin-bottom: 2rem;
}

form .input-group {
  display: flex;
  margin-top: 1.5rem;
}

form .input-group .input-wrapper + .input-wrapper {
  margin-left: 1.5rem;
}

label {
  display: inline-block;

  font-family: IBM Plex Sans;
  font-weight: 500;
  color: #787880;

  margin-bottom: 1rem;
}

input {
  font-family: IBM Plex Sans;
  font-weight: 500;

  background: #fcfdff;

  border: 1px solid #e1e3e6;
  border-radius: 0.313rem;

  padding: 0.75rem 1.5rem;

  width: 100%;

  color: var(--color-card-title);
}

::placeholder {
  color: #bfbfcc;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(35px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  transform: translateY(35px);
  opacity: 0;

  animation: up 200ms forwards;
}

@keyframes pop {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-pop {
  transform: scale(0);
  opacity: 0;

  animation: pop 300ms forwards;
}

.reverse {
  animation-direction: reverse;
}

.back {
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.delay-1 {
  animation-delay: 100ms;
}

.delay-2 {
  animation-delay: 200ms;
}

aside.card {
  width: 22rem;

  margin-left: 8rem;

  text-align: center;

  padding: 2.5rem 3.375rem;
}

aside > img {
  margin-bottom: 1.5rem;
}

aside p {
  margin-bottom: 1.75rem;

  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

aside .button img {
  width: 1.5rem;
  height: 1.5rem;
}

aside .button + .button {
  padding: 0;
  width: 3rem;
  height: 3rem;
}
